# Ignore R project hidden files
.Rproj.user
.Rhistory
.RData
*.RData
*.rdata
*.Rdata
*.rData
.Ruserdata

# Ignore R Markdown caches
*_cache

# Ignore R Markdown html files
*.html

# Ignore images
*.png

# Don't ignore R Notebooks
#!*.nb.html

# Other things to ignore
*.drawio
*.png
*/figures

